body {
    font-family: 'Roboto', sans-serif;
}

.chart-container {
    width: 500px; /* Explicit width */
    height: 300px; /* Explicit height */
}

header {
    font-family: 'Roboto', sans-serif; /* Example font family */
    background-color: #719b75; /* Example background color */
    color: #070101; /* Example text color */
    padding: 10px 20px; /* Adjust padding as needed */
}

.title-container {
    display: flex;
    align-items: center;
}

.big-title {
    font-size: 40px; /* Adjust font size as needed */
    margin-right: 20px; /* Adjust margin as needed */
}

.small-titles {
    display: flex;
    margin-right: 30px; /* Increase margin-right to create more space between titles */
    margin-left: auto; /* Push small titles to the right */
} 

.small-title {
    font-size: 24px; /* Adjust font size as needed */
    margin-right: 20px; /* Adjust margin as needed */
    margin-left: 20px; /* Adjust margin as needed */;
    cursor: pointer;
}

.small-title:hover {
    font-size: 25px; /* Increase font size on hover */
    color: #273602e5; /* Change color on hover */
}

.selected {
    font-size: 25px; /* Increase font size */
    color: #273602e5; /* Change color */
}

.button-container {
    margin-top: 20px;
    margin-bottom: 20px; /* Add some spacing between the buttons and the title */
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 10px; /* Specify gap between buttons */
}

.button-container button {
    font-size: 18px; /* Increase font size */
    padding: 12px 20px; /* Increase padding */
    border: none; /* Remove border */
    background-color: #cddba8e5; /* Button background color */
    color: #080000; /* Button text color */
    border-radius: 8px; /* Add border radius */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.button-container button:hover {
    background-color: #719b75; /* Darken background color on hover */
}
