body {
    font-family: 'Roboto', sans-serif; /* Example font family */
    margin: 0;
}

.chart-container {
    width: 500px; /* Explicit width */
    height: 300px; /* Explicit height */
}

header {
    font-family: 'Roboto', sans-serif; /* Example font family */
    background-color: #719b75; /* Example background color */
    color: #070101; /* Example text color */
    padding: 10px 20px; /* Adjust padding as needed */
}

.title-container {
    display: flex;
    align-items: center;
}

.big-title {
    font-size: 40px; /* Adjust font size as needed */
    margin-right: 20px; /* Adjust margin as needed */
}

.small-titles {
    display: flex;
    margin-right: 30px; /* Increase margin-right to create more space between titles */
    margin-left: auto; /* Push small titles to the right */
} 

.small-title {
    font-size: 24px; /* Adjust font size as needed */
    margin-right: 20px; /* Adjust margin as needed */
    margin-left: 20px; /* Adjust margin as needed */;
    cursor: pointer;
}

.small-title:hover {
    font-size: 25px; /* Increase font size on hover */
    color: #273602e5; /* Change color on hover */
}

.selected {
    font-size: 25px; /* Increase font size */
    color: #273602e5; /* Change color */
}

.introduction {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(190, 216, 190);
    font-size: 18px; /* Adjust font size as needed */
    height: 50rem;
}
.small-text {
    font-size: 0.8em;
  }

.button-container {
    margin-top: 20px;
    margin-bottom: 20px; /* Add some spacing between the buttons and the title */
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 10px; /* Specify gap between buttons */
}

.button-container button {
    font-size: 18px; /* Increase font size */
    padding: 12px 20px; /* Increase padding */
    border: none; /* Remove border */
    background-color: #cddba8e5; /* Button background color */
    color: #080000; /* Button text color */
    border-radius: 8px; /* Add border radius */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.button-container button:hover {
    background-color: #719b75; /* Darken background color on hover */
}

.map {
    min-width: 60rem;
}
.map_container {
    display:flex;
    background-color: rgb(214, 226, 231); 
    height: 45rem;
    overflow: auto;
}

.loading {
    position:fixed;
    top: 15rem;
    left: 25rem;
}
.gradient {
    height: 1rem;
    width: 20rem;
}

.similarity{
    display: flex;
    justify-content: space-evenly;
}


.main_container {
    display: flex;
    /* align-items: center; */
    background-color: rgb(190, 216, 190);
    height: 45rem;
}

.input-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.graph_container {
    /* flex: 3; */
    display: flex;
    padding: 20px;
    border: 2px solid #000;
    width: 80rem;
    height: 30rem;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px  ;
}

.details_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid #000;
    height: 30rem;
    width: 17rem;
    margin-right: 20px;
    margin-top: 20px;
}
.details_container img {
    margin-bottom: 40px; /* Add some space below the image */
  }
  
  .details_container p {
    margin: 10px 0; /* Add space above and below paragraphs */
    text-align: center;
  }

input[type="text"] {
    padding: 5px;
    /* margin-right: 10px; */
    background-color: #e8f5e9;
    border: 1px solid #000;
}

button {
    padding: 5px 10px;
}

.input-label {
/* Style the label for the input */
font-weight: bold;
margin-right: 10px; /* Add margin to separate label from input */

}

.next_to_map_container {
/* Style the container for the genres */
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
border: 1px solid #000;
width: 26rem;
height: 28rem;
margin-top: 10px;
margin-right: 10px;
padding: 20px;
background-color: white;
}
.radar-container {
display: flex; 
flex-direction: column;
align-items: center;
border: 1px solid #000;
height: 35rem;
width: 26rem;
margin-top: 10px;
margin-right: 10px;
padding: 20px;
background-color: white;
}
.feature-ranges {
    margin-top: 20px;
    text-align: center;
  }
  
  .feature-ranges p {
    margin: 5px 0;
  }

.bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.genre {
    width: 200px; /* Fixed width to align all bar labels */
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

.bar-inner {
    background-color: green;
    height: 20px; /* Adjust height as needed */
    margin-right: 10px;
}

.percentage {
    white-space: nowrap;
}
.song-list {
line-height: 1.8; /* Adjust this value as needed */
margin-left: 10px;
}
.song-name {
    color: green;
    font-weight: bold;
}
.error-message {
    color: red;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}